{
  "plugins": ["prettier-plugin-organize-imports"],
  "importOrder": ["^@next-monorepo/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "singleQuote": true
}
